body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

header {
  color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 45px;
}

header .menu ul {
  display: flex;
}

header .menu li a {
  text-decoration: none;
  padding-right: 30px;
  font-size: 20px;
}

#style-btn,
#learn-btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  font-weight: 500;
}

#style-btn {
  padding-left: 45px;
  padding-right: 45px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.info-section {
  width: 50%;
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

h4 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.cat-blackandwhite {
  width: 670px;
  height: 700px;
  position: relative;
  border-radius: 50%;
  right: 125px;
  top: 150px;
}

.cool-cat {
  width: 550px;
  height: 600px;
  position: relative;
  bottom: 150px;
  border-radius: 50%;
  left: 400px;
  bottom: 250px;
  z-index: 1;
}
