body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  background: #05123a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  padding: 0 45px;
}

header .menu ul {
  display: flex;
}

header .menu li a {
  text-decoration: none;
  padding-right: 30px;
  font-size: 20px;
  color: aliceblue;
  font-family: "Philosopher", sans-serif;
}

header .menu li a:hover {
  cursor: pointer;
  color: #be3fbe;
  text-decoration: overline;
}

#style-btn,
#learn-btn {
  background-color: transparent;
  color: aliceblue;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid aliceblue;
  justify-content: center;
  text-align: center;
  margin-right: 30px;
  font-weight: 500;
}

#style-btn:hover {
  cursor: pointer;
  background-color: #be3fbe;
}

#learn-btn:hover {
  cursor: pointer;
  background-color: #be3fbe;
}

#style-btn {
  padding-left: 45px;
  padding-right: 45px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.info-section {
  width: 50%;
}

h1 {
  font-family: "Philosopher", sans-serif;
  color: aliceblue;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

#letter-s {
  font-family: "Tangerine", cursive;
  font-size: 10rem;
}

h4 {
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.statement-cat {
  width: 950px;
  border-radius: 50%;
  position: relative;
  left: 100px;
}

.cat-gallery img {
  padding: 40px;
  margin: 0 25px;
  border-radius: 50%;
  opacity: 0.6;
}

.cat-gallery img:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.colorful-cat {
  width: 210px;
  height: 200px;
}

.chanel-cat {
  width: 210px;
  height: 200px;
}

.pink-cat {
  width: 210px;
  height: 200px;
}

.purple-cat {
  width: 210px;
  height: 200px;
}
